{{set . "title" .result.object_label}}

{{if eq .hide_chrome false}}
	{{template "header.html" .}}
{{end}}

<form role="form" class="form-horizontal" action="/types/{{.result.object_key}}/create" method="POST" autocomplete="off">
	
	{{range $index, $element := .result.schema}}
	<div class="form-group">
    	<label class="control-label col-sm-2" for="{{$element.label}}">{{$element.label}}</label>
		<div class="col-sm-4">
		{{if eq $element.type "text"}}
			<input class="form-control" type="text" name="{{$element.label}}" id="{{$element.label}}">
		{{end}}
		{{if eq $element.type "datetime"}}
			<input class="form-control" type="text" name="{{$element.label}}" id="{{$element.label}}">
		{{end}}
		{{if eq $element.type "ll"}}
			<input class="form-control ll" type="text" name="{{$element.label}}" id="{{$element.label}}">
		{{end}}
		{{if eq $element.type "lat"}}
			<input class="form-control lat" type="text" name="{{$element.label}}" id="{{$element.label}}">
		{{end}}
		{{if eq $element.type "lng"}}
			<input class="form-control lng" type="text" name="{{$element.label}}" id="{{$element.label}}">
		{{end}}
		</div>
	</div>
	{{end}}
	
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
	
</form>

{{if eq .hide_chrome false}}
	{{template "footer.html" .}}
{{end}}