{{set . "title" "Object Types"}}
{{template "header.html" .}}

<a href="/types/create" class="btn btn-default">Add New Object Type</a>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Type</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{{range $index, $element := .results}}
		<tr>
			<td><a href="/types/{{$element.object_key}}">{{$element.object_label}}</a></td>
			<td><a href="/types/{{$element.object_key}}/create">Create</a></td>
		</tr>
		{{end}}
	</tbody>
</table>

{{template "footer.html" .}}