{{set . "title" .object_type.object_label}}
{{template "header.html" .}}

<a href="/types/{{.object_key}}/create" class="btn btn-default">Add New {{.object_type.object_label}}</a>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Object</th>
			<th>Data</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	{{range $index, $element := .object_list}}
		<tr>
			<td><a href="/types/{{$element.object_type}}/{{$element.uuid}}">{{$element.uuid}}</a></td>
			<td>{{$element.key_value_pairs_plain}}</td>
			<td></td>
		</tr>
	{{end}}
	</tbody>
</table>
	
{{template "footer.html" .}}