{{set . "title" "Map"}}
{{template "header.html" .}}

<style>
body, 
html,
.container-fluid,
.container-fluid .row,
.container-fluid .row .main {
	height: 100%;
}
.container-fluid .row,
.container-fluid .row .main {
	width:110%;
}
#map2 {
	position:relative; 
	left:-20px;
	width:100%; 
	height:100%;
}
@media (min-width: 768px) {
	.container-fluid .row,
	.container-fluid .row .main {
		width:100%;
	}
	#map2 {
		position:relative; 
		left:-40px;
	}
}
</style>

<div id="map2"></div>

<div class="form-group">
	<div class="controls">
		<textarea id="requestDebug" class="form-control" cols="140" rows="8"></textarea>
	</div>
</div>

<div class="form-group">
	<div class="controls">
		<textarea id="responseDebug" class="form-control" cols="140" rows="70"></textarea>
	</div>
</div>

<!-- Modal -->
<div class="modal" id="createBox" tabindex="-1" role="dialog" aria-labelledby="createBoxLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Loading...</h4>
      </div>
      <div class="modal-body">
      	Loading...
      </div>
    </div>
  </div>
</div>


<link rel="stylesheet" href="/public/css/leaflet.css" />
<script src="/public/js/leaflet.js"></script>
<script>
	var response_message;
	var markers = {'init': 'init'};
	var object_list = {'init': 0};
	var client_diff_request_json = {'action': 'client_diff_request', 'dek': '{{.dek}}', 'object_uuids': object_list};
	var tmp_geo = '';
		
	// Create a socket
	var socket = new WebSocket('ws://'+window.location.hostname+':8080/ws');
	
	// Message received on the socket
	socket.onmessage = function(event) {
		
		$("#responseDebug").html(JSON.stringify(JSON.parse(event.data), null, 4));
		
		response_message = JSON.parse(event.data);
		//console.log(response_message.client_unknown_objects);
		
		// loop through client_unknown_objects
		if(response_message.client_unknown_objects != null && response_message.client_unknown_objects.length > 0) {
			for(var k in response_message.client_unknown_objects) {
				if(object_list[response_message.client_unknown_objects[k].uuid]===undefined) {
					
					// populate object list
					object_list[response_message.client_unknown_objects[k].uuid] = response_message.client_unknown_objects[k].time_modified_since_creation;
					
					// add to map pins
					if(response_message.client_unknown_objects[k].key_value_pairs_plain.lat != undefined && response_message.client_unknown_objects[k].key_value_pairs_plain.lng != undefined) {
						
						var lat = response_message.client_unknown_objects[k].key_value_pairs_plain.lat;
						var lng = response_message.client_unknown_objects[k].key_value_pairs_plain.lng;
						var marker = L.marker([lat, lng]).addTo(map);
						
						// map pin tooltip box
						console.log(response_message.client_unknown_objects[k].key_value_pairs_plain);
						var popuphtml = "<b>Surname:</b> "+response_message.client_unknown_objects[k].key_value_pairs_plain.Surname+"<br>";
						popuphtml += "<b>Address:</b> "+response_message.client_unknown_objects[k].key_value_pairs_plain.Address+"<br>";
						popuphtml += "<b>Has Electricity:</b> <span class='label label-danger'>"+response_message.client_unknown_objects[k].key_value_pairs_plain['Has Electricity']+"</span><br>";
						marker.bindPopup(popuphtml).openPopup();
					}
				}
			}
		}
		
		// add item to known objects list
		//console.log(object_list);
		client_diff_request_json.object_uuids = object_list;
    }

	// Make the function wait until the connection is made...
	function waitForSocketConnection(socket, callback){
	    setTimeout(
	        function () {
	            if (socket.readyState === 1) {
	                console.log("WS connection is made");
	                if(callback != null){
	                    callback();
	                }
	                return;
	
	            } else {
	                console.log("Waiting for connection...");
	                waitForSocketConnection(socket, callback);
	            }
	
	        }, 5); // wait 5 milisecond for the connection...
	}
	
	// Sync
	function getMapPins()
	{
		console.log("Getting map pins");
		$("#requestDebug").html(JSON.stringify(client_diff_request_json, null, 4));
		socket.send(JSON.stringify(client_diff_request_json));
	}
	
	// Initiate map pin sync on socket open
	waitForSocketConnection(socket, function(){
		getMapPins();
		setInterval(getMapPins, 8000);
	});
	
	// create map
	var map = L.map('map2').setView([{{.deployment.map_center_lat}}, {{.deployment.map_center_lon}}], {{.deployment.map_zoom_min}});
	L.tileLayer('http://'+window.location.hostname+':8888/v2/{{.deployment.map_mbtiles}}/{z}/{x}/{y}.png', {
    	attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Hosted by <a href="http://ldln.co">LDLN</a>',
    	maxZoom: {{.deployment.map_zoom_max}}
	}).addTo(map);
	
	// right click for modal create form
	map.on('contextmenu', function(e) {
    	console.log(e.latlng);
		tmp_geo = e.latlng;
		$('#createBox').modal({
			'keyboard': true
		});
		$( "#createBox .modal-title" ).html("Create Household");
		$( "#createBox .modal-body" ).load( "/types/household/create?hide_chrome=true", function() {
			
			$("input.ll").val(tmp_geo.lat+","+tmp_geo.lng);
			$("input.lat").val(tmp_geo.lat);
			$("input.lng").val(tmp_geo.lng);
			
			$("#createBox .modal-body form .form-group:first-child div input").focus();
			
			$("#createBox .modal-body form").submit(function (ev) {
		        $.ajax({
		            type: $("#createBox .modal-body form").attr('method'),
		            url: $("#createBox .modal-body form").attr('action'),
		            data: $("#createBox .modal-body form").serialize(),
		            success: function (data) {
						getMapPins();
		                $('#createBox').modal('hide');
		            }
		        });
		
		        ev.preventDefault();
		    });
		});
	});
	
</script>


{{template "footer.html" .}}