{{set . "title" "Create User"}}
{{template "header.html" .}}

<form action="/users" method="POST" autocomplete="off">
    <label for="username">Username</label><br/>
    <input type="text" name="username" autocomplete="off" /><br/>
	
    <label for="password">Password</label><br/>
    <input type="password" name="password" autocomplete="off" /><br/>
	
    <label for="confirm_password">Confirm Password</label><br/>
    <input type="password" name="confirm_password" autocomplete="off" /><br/>
	
    <input type="submit" value="Save" />
</form>


{{template "footer.html" .}}