{{set . "title" "WebSocket Test"}}
{{template "header.html" .}}
<div class="row">

	<div class="form-group btn-group col-sm-12">
	  <button type="button" class="btn btn-default" id="client_get_users">client_get_users</button>
	  <button type="button" class="btn btn-default" id="client_get_schemas">client_get_schemas</button>
	  <button type="button" class="btn btn-default" id="client_diff_request">client_diff_request</button>
	  <button type="button" class="btn btn-default" id="client_update_request">client_update_request</button>
	</div>
	
	<div class="form-group col-sm-12">
		<div class="controls">
			<a id="send_btn" class="btn btn-primary">Send</a>
		</div>
	</div>
	
	<div class="form-group col-sm-4">
		<label class="control-label" for="requestBody">Request</label>
		<div class="controls">
			<textarea id="requestBody" class="form-control" cols="140" rows="14"></textarea>
		</div>
	</div>
	
	<div class="form-group col-sm-8">
		<label class="control-label" for="responseBody">Response</label>
		<div class="controls">
			<textarea id="responseBody" class="form-control" cols="140" rows="70"></textarea>
		</div>
	</div>

</div>

<script type="text/javascript">
  // Create a socket
  var socket = new WebSocket('ws://'+window.location.hostname+':8080/ws')

  // Message received on the socket
  socket.onmessage = function(event) {
	$("#responseBody").html(JSON.stringify(JSON.parse(event.data), null, 4));
  }

  $('#send_btn').click(function(e) {
    var message = $('#requestBody').val();
    socket.send(message);
  });

  function populate_request(j) {
	$('#requestBody').html(JSON.stringify(JSON.parse(j), null, 4));
	//$("#responseBody").html('');
  }

  $('#client_get_users').click(function(){
	populate_request('{"action": "client_get_users"}');
  });
  $('#client_get_schemas').click(function(){
	populate_request('{"action": "client_get_schemas"}');
  });
  $('#client_diff_request').click(function(){
	populate_request('{"action": "client_diff_request","object_uuids": {"03481600-0478-11e4-9191-0800200c9a66": 0,"13481600-0477-11e4-9191-0800200c9a66": 0}}');
  });
  $('#client_update_request').click(function(){
	populate_request('{"action": "client_update_request","objects": [{"uuid": "XXXXXX","key_value_pairs": "XXXXXX","object_type": "test","time_modified_since_creation": 0}]}');
  });
</script>


{{template "footer.html" .}}